.feedbackCard{
    width: calc(100% - 100px);
    background: #000000;
    border: 1px solid #333333;
    border-radius: 20px;
    padding: 20px;
    font-family: "SF Pro Display Light", sans-serif;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.5s all ease-in-out;
}
.feedbackCardBody {
    color: #ececec;
}

.feedbackCardPerson {
    color: #ff74d9;
    font-family: "SF Pro Display Medium", sans-serif;
}