.Tariffs {
    margin-top: 180px;
    justify-items: center;
    width: 100%;
}

.Tariffs .switchBox {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-between;
}

.Tariffs .switchBox p{
    font-family: "SF Pro Display Medium", sans-serif;
    font-size: 26px;
    width: max-content;
    transition: 0.3s all ease-in-out;
}

.Tariffs .TariffsList{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 30px;
}

.Tariffs .TariffsList .TariffCard{
    font-family: "SF Pro Display Light", sans-serif;
    width: 300px;
    height: 500px;
    padding: 20px;
    color: #000000;
    background-color: #d3d3d3;
    border-radius: 30px;
    justify-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 0 10px #fff;
}

.Tariffs .TariffsList .TariffCard {
    display: grid;
    grid-template-rows: 56px 44px 1fr 1fr 60px;
}

.Tariffs .TariffsList .TariffCard .title {
    font-family: "SF Pro Display Bold", sans-serif;
    font-size: 36px;
    width: max-content;
    margin-top: 20px;
}

.Tariffs .TariffsList .TariffCard .coast{
    font-family: "SF Pro Display Medium", sans-serif;
    font-size: 24px;
    margin-top: 20px;
}

.Tariffs .TariffsList .TariffCard .scope{
    margin-top: 20px;
    width: 90%;
}

.Tariffs .TariffsList .TariffCard li {
    margin-top: 10px;
}

.Tariffs .TariffsList .TariffCard .description {
    margin-top: 15px;
}

